@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Ga+Maamli&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 372px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --color-primary: #081A28;
  --color-secondary: #B1FDAF;
  --color-aliceblue: #f0f8ff;
  --color-ghostwhite: #f8f8ff;
  --color-snow: #fafdff;
  --color-offwhite: #faf9f6;
  --color-ivory: #fffff0;
}
.input-style {
  width: 100%;
  padding: 0.5rem; 
  margin-bottom: 1rem; 
  border: 1px solid #d1d5db; 
  border-radius: 0.5rem;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

.input-style:focus {
  box-shadow: 0 0 0 1px #B1FDAF; 
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

.shadow-deep {
  box-shadow: 0 4px 20px rgba(75, 85, 99, 0.6);
}

.hide-scrollbar {
  scrollbar-width: none;        
  -ms-overflow-style: none;    
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;               
}

.font_primary {
  font-family: "Source Sans 3", sans-serif;
}
.font_secondary {
  font-family: "Merriweather", serif;
}

.toastify-custom {
  font-size: 14px;      
  padding: 8px;    
  min-height: auto !important;  
}

.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 500;
  font-style: normal;
}